<div class="container">
    <form [formGroup]="form"(ngSubmit)="onSubmit()">
        <div class="form-group column">
          <div class="head">
            <h5 class="titre">
              <mark class="mark">Add a Gender</mark>
            </h5>
          </div>
        <input formControlName="name" type="text" class="form-control" id="gender" placeholder="Gender ex : 100% coton" required>
        </div>
      <button class="btn btn-outline-secondary btn-sm">Save</button>
    </form>
    
    
  
  
  
  
  